<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>相册首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">所有相册</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/up">上传 <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form method="post" action="#" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampe">选择文件夹</label>
            <select name="folderName" id="" class="form-control">
                <% for(var i=0; i<allAlbums.length; i++) { %>
                    <option><%= allAlbums[i] %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="example">选择照片</label>
            <input type="file" name="uploadFile">
            <p class="help-block">请注意上传的文件，不要涉及违法信息，也不要超过10M大小.</p>
        </div>
        <button type="submit" class="btn btn-primary">确定上传</button>
    </form>

</div>

<script src="js/jquery-2.0.3.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>